.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: gold;
  cursor: pointer;
}

.nav-links button,
.nav-actions button {
  margin: 0 5px;
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  background: #222;
  color: white;
  transition: 0.3s;
}

.nav-links button:hover,
.nav-actions button:hover {
  background: gold;
  color: black;
}
.nav-links button.active {
  background: gold;
  color: black;
}
.nav-actions button {
  margin-left: 8px;
}
