.payment {
  padding: 40px;
  text-align: center;
}

.payment-box {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}

.payment-box label {
  display: block;
  margin: 15px 0;
  font-size: 16px;
}

.payment-box button {
  margin-top: 20px;
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 25px;
}
